<section class="bg-white p-14">
  <!-- Heading -->
  <div class="text-black flex flex-col justify-center items-center gap-5 my-12">
    <h1 class="text-4xl font-semibold">Our Featured Products</h1>
    <p class="text-lg text-gray-700">Get the skin you want to feel</p>
  </div>

  <!-- Product Cards -->
  <div class="max-w-8xl  mx-auto mt-12 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {% if section.settings.collection != blank %}
      {% assign featured_collection = collections[section.settings.collection] %}

      {% for product in featured_collection.products limit: section.settings.products_limit %}
        <a href="{{ product.url }}" class="group block flex flex-col justify-center gap-2 items-center h-[520px]">
          <!-- Product Image -->
          <div class="h-[420px] w-full bg-gray-100 overflow-hidden rounded-md">
            {% if product.featured_image %}
              <img
                src="{{ product.featured_image | image_url: width: 800 }}"
                alt="{{ product.title }}"
                height=""
                width=""
                class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
              >
            {% endif %}
          </div>

          <!-- Product Info -->
          <div class="mt-4 text-center">
            <h3 class="text-lg font-medium text-black">
              {{ product.title }}
            </h3>

            <p class="text-gray-700 mt-1">
              {{ product.price | money }}
            </p>
          </div>
        </a>
      {% endfor %}
    {% endif %}
    {% render 'counter' %}
  </div>
  
</section>
{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Number of products",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
